body {
  background-color: #030303;
  width: 100%;
  text-align: center;
}
ul { list-style: none;}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
}
.Comment {border:solid #fff 10px;}

img {
  width: 600px;
}

.navHead {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.btn1, .btn2, .btn3 {
  display: inline;
  flex-direction: row;
  min-height: 40px;
  font-size: 12px;
  
}

@media screen and (max-width: 800px) {
  
  
  .container {
    flex-direction: row;
  }
  .Projects {
    min-width: 70%;
  }
  .NavBar {
    flex-direction: row;
  }

img { max-width: 500px;}

input, textarea{width: 600px;}
.NavBar p {
  font-size: 10px;
}

.NavBar {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.row {
  flex-direction: column;
}



.btn1, .btn2, .btn3 {
  display: inline-flex;
  flex-direction: column;
  min-height: 40px;
  font-size: 12px;
  min-width: 500px;
  
}

.drpDwn :hover{
  color: rgb(49, 150, 238);
  
}





.Projects {
  color: #fff;
}


.Comment{
  color: white;
  padding: 1rem;
}

#message {
  height: 200px
}

.container {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.content {
  padding: 1rem;
}
}


@media screen and (max-width: 600px) {
  img {
    max-width: 400px;
  }
  .btn1, .btn2, .btn3 {
    min-width: 200px;

  }
  input, textarea {width: 400px;}
}

@media screen and (min-width: 801px) {


  .content {
  flex-flow: row nowrap;
  color:#fff;
}

.btn1, .btn2, .btn3 {
  display: inline-flex;
  flex-direction: row;
}
}

.summary {
  background-color: #a0a0a0;
  padding: 2rem;
}

.secTitle{
  font-size: 36px;
  text-decoration: underline;
}
.intro {
  text-align: left;
  font-size: 60px;
  color: #616060;
  border-bottom: solid 10px;
  background-image: url('./images/Screen\ Shot\ 2022-09-06\ at\ 4.58.13\ AM.png');
}

.AboutMe {
  margin-bottom: 5rem;
  border-top: solid 5px #fff;
  border-bottom: solid 5px #fff;
}
.navList, .projectsList, .profilesList {
  display: none;
  position: relative;
  text-align: center ;
 min-height: 100px;

}

@media screen and (max-width: 400px) {
  img { max-width: 200px;}

  input, textarea{width:200px;}
}